

body
{
	background-color: black;
}

h1
{
	padding-top: 30px;
	color: #ffff1a;
	text-align: center;	
	font-size: 35px;
	font-family: 'Dancing Script', cursive;
}
img
{
	
	width:100%;
	text-align: center;
}
p
{
	color: white;
	text-align: center;
	font-size: 29px;
	margin: 0 auto ;
	font-family: 'Cookie', cursive;
}

u
{
	color: #ffdb4d;
	font-family: 'Cookie' cursive;
}


div.gallery 
{
    
    border: 1px solid #ccc;
    width: 100%;
}

div.gallery:hover 
{
    border: 1px solid #777;
}

div.gallery img 
{
    width: 100%;
    height: auto;
}

div.desc 
{
    padding: 0 auto;		
    text-align: center;
    color: white;
}

button 
{
	top: 0;
	right: 0; 
    border: none;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
  	position: fixed;	
}

#y
{	
	top: 0;
	left: 0;
	padding-left:50%;
	text-align: center;
	color: black;
	background-color:#ffcc00;
}
#w
{
	color: white;
}


#resnav
{
	top: 0;
	left: 0;
	background-color:#ffcc00; 
	position: fixed;
	width: 60%;
	height: 100%;
	text-align: center;
}


#panelintro
{
	background-color: black;
}

#paneltdo,#panelcandh,#paneltrip
		{
			display: none;			
			width: 100%;		
			background-color: black;		
		}				
#flipintro,#fliptdo,#flipcandh,#fliptrip
		{

			float: left;
			display: block;
			font-size: 30px;
			padding:  50px 20px 0px 20px;
			color:black;
			font-family: 'Cookie', cursive; 
		}
#flipintro:hover,#fliptdo:hover,#flipcandh:hover,#fliptrip:hover
		{
			color: blue;
			cursor: pointer;
		}
