
body
{
	background-color: black;
}

h1
{
	color: #ffff1a;
	text-align: center;	
	font-size: 60px;
	font-family: 'Dancing Script', cursive;
}
img
{
	
	width: 50%;
	text-align: center;
}
p
{
	color: white;
	text-align: center;
	font-size: 35px;
	margin: 0px 200px 0px 200px ;
	font-family: 'Cookie', cursive;
}

u
{
	color: #ffdb4d;
	font-family: 'Cookie' cursive;
}


div.gallery 
{
  	
    width: 50%;
}


div.gallery img 
{
	text-align: center;
    width: 100%;
    height: auto;
    padding-left: 50%;
}

div.desc 
{
    padding-left: 80%;			
    text-align: center;
    color: white;
}

button 
{
	top: 0;
	right: 0;
	position: fixed;
    background-color: black; 
    border: none;
    color: #ffcc00;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 63px;
    cursor: pointer;
}

#y
{
	font-size: 35px;
	top: 0;
	left: 0;
	padding-left:12%;
	text-align: center;
	color: black;
	background-color:#ffff1a;
}

#resnav
{
	top: 0;
	left: 0;
	display: block;
	background-color:#ffff1a; 
	position: fixed;
	width: 15%;
	height: 100%;
	overflow:auto;
	text-align: center;
	float: left;
}


#panelintro
{
	background-color: black;
}

#paneltdo,#panelcandh
		{
			display: none;			
			width: 100%;		
			background-color: black;		
		}				
#flipintro,#fliptdo,#flipcandh
		{
			float: left;
			display: block;
			font-size: 25px;
			padding:  50px 0px 0px 20px;
			color:black;
			font-family: 'Cookie', cursive; 
		}
#flipintro:hover,#fliptdo:hover,#flipcandh:hover
		{
			color: blue;
			cursor: pointer;
		}
