*
{
	margin: 0;
}

html,body
{
	height: 100%;
	background-color: black;
}

.sect
{
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-position: center;
}

.subSect
{
	height: 50%;
	background-color: black;
}

.sectOne
{
	background-image: url("http://cdn.luxuo.com/wp-content/uploads/2014/04/Las-Vegas-High-Roller.jpg");
}

.sectTwo
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image3.jpg?raw=true");	
}

.sectThree
{
	background-image: url("https://www.holidayguru.ie/wp-content/uploads/2016/06/Las-Vegas-Strip-at-night-high-vantage-iStock_000082066557_Large-2.jpg");
}

.sectFour
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image5.jpg?raw=true");
}

.sectFive
{
	background-image: url("https://d12dkjq56sjcos.cloudfront.net/pub/media/catalog/category/Las-Vegas-Big-Bus-Tour-Welcome-Sign-Big-Bus-Tours_12-01-17.jpg");
}

.sectSix
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image7.jpg?raw=true");
}

.sectSeven
{
	background-image: url("http://www.baltana.com/files/wallpapers-2/Las-Vegas-HD-Images-04171.jpeg");
}

.sectEight
{
	background-image: url("http://wallpapercave.com/wp/MvtBAPM.jpg");
}

*
{
	margin: 0;
}

html,body
{
	height: 100%;
}

h2
{
	color: #ffff1a;
	text-align: center;	
	font-size: 60px;
	font-family: 'Sintony', sans-serif;
}

p
{
	color: white;
	text-align: center;
	font-size: 28px;
	margin: 0px 200px 0px 200px ;
	font-family: 'Cookie', cursive;
}

u
{
	color: #ffdb4d;
	font-family: 'Cookie' cursive;
}

@media only screen and (max-device-width: 1024px) {
    .sect {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px)
{
	body
{
	background-color: black;
}

h2
{
	
	color: #ffff1a;
	text-align: center;	
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
}

p
{
	color: white;
	text-align: center;
	font-size: 17px;
	margin: 0 auto ;
	font-family: 'Cookie', cursive;
}

u
{
	color: #ffdb4d;
	font-family: 'Cookie' cursive;
}

*
{
	margin: 0;
}

html,body
{
	height: 80%;
	background-color: black;

}


.subSect
{
	height: 40%;
	background-color: black;
}

.sectOne
{
	background-image: url("http://cdn.luxuo.com/wp-content/uploads/2014/04/Las-Vegas-High-Roller.jpg");
}

.sectTwo
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image3.jpg?raw=true");	
}

.sectThree
{
	background-image: url("https://www.holidayguru.ie/wp-content/uploads/2016/06/Las-Vegas-Strip-at-night-high-vantage-iStock_000082066557_Large-2.jpg");
}

.sectFour
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image5.jpg?raw=true");
}

.sectFive
{
	background-image: url("https://d12dkjq56sjcos.cloudfront.net/pub/media/catalog/category/Las-Vegas-Big-Bus-Tour-Welcome-Sign-Big-Bus-Tours_12-01-17.jpg");
}

.sectSix
{
	background-image: url("https://github.com/meghthakkar98/LasVegas/blob/gh-pages/image7.jpg?raw=true");
}

.sectSeven
{
	background-image: url("http://www.baltana.com/files/wallpapers-2/Las-Vegas-HD-Images-04171.jpeg");
}

.sectEight
{
	background-image: url("http://wallpapercave.com/wp/MvtBAPM.jpg");
}



}
